{{ range required .Protocols }}
// The RPC{{ required .Name | capitalize }}Client type is a RPC client for the {{ required .Name }} protocol.
type RPC{{ required .Name | capitalize }}Client struct {
	c *RPCConnection
}

// NewRPC{{ required .Name | capitalize }}Client creates a new RPC client for the {{ required .Name }} protocol.
func NewRPC{{ required .Name | capitalize }}Client(c *RPCConnection) *RPC{{ required .Name | capitalize }}Client {
	return &RPC{{- required .Name | capitalize }}Client{c: c}
}
{{ end }}
