type proto{{ capitalize .ProtoName }}Method uint64

// The RPC{{ capitalize .ProtoName }}Client type is a RPC client for the {{ .ProtoName }} protocol.
type RPC{{ capitalize .ProtoName }}Client struct {
	c *RPCConnection
}

// NewRPC{{ capitalize .ProtoName }}Client creates a new RPC client for the {{ .ProtoName }} protocol.
func NewRPC{{ capitalize .ProtoName }}Client(c *RPCConnection) *RPC{{ capitalize .ProtoName }}Client {
	return &RPC{{- capitalize .ProtoName }}Client{c: c}
}
