{
    em := newEmbeddedMessage(messageCapacity)
    var vs rpcProto{{ capitalize .ProtoName }}Struct{{ .Field.GoType }}
	vs.v = {{ .Accessor }}
    if err := vs.RPCEncode(em); err != nil {
        return err
    }
    m.WritePBMessage({{ .ID }}, em)
}
