{
    em := newEmbeddedMessage(messageCapacity)
    var vs rpcProto{{ required .ProtoName | capitalize }}Struct{{ required .Field.GoType }}
	vs.v = {{ required .Accessor }}
    if err := vs.RPCEncode(em); err != nil {
        return err
    }
    m.WritePBMessage({{ required .ID }}, em)
}
