{{- $vname := retrieve (format "rpcMap-%s" .Field.GoType) -}}
for k, v := range {{ .Accessor }} {
    em := newEmbeddedMessage(messageCapacity)
    vv := {{ $vname }}{
        Key: k,
        Value: v,
    }
    if err := vv.RPCEncode(em); err != nil {
        return err
    }
    m.WritePBMessage({{ .ID }}, em)
}
