{
    m := {{ .Message }}
    em := newEmbeddedMessage(messageCapacity)
    {{- $accessor := .Accessor }}
    {{ range .Field.Fields }}
    {{ template "go-pb/marshal.go.tmpl" dict "ID" .ID "Accessor" (format "%s.%s" $accessor (capitalize .Name)) "Field" .T "Message" "em" }}
    {{ end }}
    m.WritePBMessage({{ .ID }}, em)
}
