{
    em := newEmbeddedMessage(messageCapacity)
    var v rpcProto{{ capitalize .ProtoName }}Struct{{ .Field.GoType }}
    v.v = {{ .Accessor }}
    if err := v.RPCEncode(em); err != nil {
        return err
    }
    m.WritePBMessage({{ .ID }}, em)
}
