func marshalDateTime(t time.Time) string {
	return t.Format(time.RFC3339Nano)
}

func unmarshalDateTime(s string) (time.Time, error) {
	return time.Parse(time.RFC3339Nano, s)
}

func marshalUUID(u uuid.UUID) string {
	return string(u[:])
}

func unmarshalUUID(s string) (uuid.UUID, error) {
	return uuid.FromBytes([]byte(s))
}
