{{ range required .Protocols }}
type proto{{ required .Name | capitalize }}Method uint64
{{- end }}

const (
{{ range required .Protocols }}
    {{- $protoName := required .Name -}}
    {{- $protoID := required .ID -}}
    {{ range required .Methods }}
        {{- $typeID := format "proto%sMethod%s" (required $protoName | capitalize) (required .Name | capitalize) -}}
        {{ required $typeID }} proto{{ required $protoName | capitalize }}Method = {{ required .ID }}
    {{ end }}
{{ end }}
)

type protoDescriptor struct {
    name string
    methods map[uint64]methodDescriptor
}

type methodDescriptor struct {
    name string
}

var protoMap = map[uint64]protoDescriptor{
{{- range required .Protocols }}
    {{ required .ID }}: protoDescriptor{
        name: {{ required .Name | doublequote }},
        methods: map[uint64]methodDescriptor{
            {{- range required .Methods }}
            {{ required .ID }}: methodDescriptor{name: {{ required .Name | doublequote }}},
            {{- end }}
        },
    },
{{- end }}
}

{{ range required .Protocols }}
    {{- $protoName := required .Name -}}
    {{- $protoID := required .ID -}}
    {{ range required .Structs }}
        {{ range required .Fields }}
            {{ template "go-pb/serialization_map.go.tmpl" dict "T" .T "ProtoName" $protoName }}
        {{ end }}
        {{ template "go-pb/serialization_struct.go.tmpl" dict "TypeName" (format "rpcProto%sStruct%s" (required $protoName | capitalize) (required .Name | capitalize)) "Name" .Name "Fields" .Fields "ProtoName" $protoName }}
    {{ end }}
    {{ range required .Methods }}
        {{ range required .Input }}
            {{ template "go-pb/serialization_map.go.tmpl" dict "T" .T "ProtoName" $protoName }}
        {{ end }}
        {{ range required .Output }}
            {{ template "go-pb/serialization_map.go.tmpl" dict "T" .T "ProtoName" $protoName }}
        {{ end }}
    {{ end }}
{{ end }}