type {{ capitalize .ProtoName }}Methods interface {
    {{- range .Methods }}
    {{ capitalize .Name }}(
    ctx context.Context,
    {{- range .Input }}
        _{{ .Name }} {{ .T.GoType }},
    {{- end }}
    ) (
    {{- range .Output }}
        _{{ .Name }} {{ .T.GoType }},
    {{- end }}
        err error,
    )
    {{- end }}
}

func {{ capitalize .ProtoName }}Handler(methods {{ capitalize .ProtoName }}Methods) *rpcServer {
    return &rpcServer{
        ProtocolID: {{ .ProtoID }},
        Handler: &callHandlerFor{{ capitalize .ProtoName }}{methods: methods},
    }
}

type callHandlerFor{{ capitalize .ProtoName}} struct {
    methods {{ capitalize .ProtoName }}Methods
}
