{{- if eq . "String" -}}wireTypeLengthDelimited
{{- else if eq . "Bool" -}}wireTypeVarint
{{- else if eq . "Int64" -}}wireType64bit
{{- else if eq . "Int" -}}wireTypeVarint
{{- else if eq . "Float" -}}wireType32bit
{{- else if eq . "Double" -}}wireType64bit
{{- else -}}{{ error "unknown property type" }}
{{- end -}}
