{{ template "go-pb/boilerplate.go.tmpl" . }}
{{ template "go-pb/prepare_serializers.go.tmpl" . }}
{{ template "go-pb/serializations.go.tmpl" . }}
{{ template "go-pb/server_definitions.go.tmpl" . }}
{{ template "go-pb/server_methods.go.tmpl" . }}
{{ template "go-pb/client_definitions.go.tmpl" . }}
{{ template "go-pb/client_methods.go.tmpl" . }}
