{{- if .T.IsArray }}
{{ template "go-pb/serialization-map.go.tmpl" dict "T" .T.InnerValue "ProtoName" .ProtoName }}
{{- else if .T.IsMap }}
{{ template "go-pb/serialization-map.go.tmpl" dict "T" .T.InnerKey "ProtoName" .ProtoName }}
{{ template "go-pb/serialization-map.go.tmpl" dict "T" .T.InnerValue "ProtoName" .ProtoName }}
{{ $name := format "rpcMapKey%sValue%s" .T.InnerKey .T.InnerValue }}
{{ if ifnotexists (format "rpcMap%s" .T.GoType) }}
{{ $mapcnt := counter "rpcMap" }}
{{ $name := format "rpcMap%d" $mapcnt }}
{{ store (format "rpcMap-%s" .T.GoType) $name }}
type {{ $name }} struct {
    Key {{ .T.InnerKey.GoType}}
    Value {{ .T.InnerValue.GoType }}
}

func (s *{{ $name }}) RPCEncode(m *message) error {
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T.InnerKey "Accessor" "s.Key" "ID" 1 "Message" "m" "ProtoName" .ProtoName -}}
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T.InnerValue "Accessor" "s.Value" "ID" 2 "Message" "m" "ProtoName" .ProtoName -}}
    return nil
}

func (s *{{ $name }}) RPCDecode(m *message) error {
    var (
        err error
        tag uint64
    )
    for err == nil {
        tag, err = m.ReadVarint()
        switch tag {
        case uint64(1 << 3) | uint64({{ template "go-pb/property_to_wiretype.go.tmpl" .T.InnerKey.String}}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T.InnerKey "Accessor" "s.Key" "Message" "m" "ProtoName" .ProtoName -}}
        case uint64(2 << 3) | uint64({{ template "go-pb/property_to_wiretype.go.tmpl" .T.InnerValue.String}}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T.InnerValue "Accessor" "s.Value" "Message" "m" "ProtoName" .ProtoName -}}
        default:
            if err != io.EOF {
                err = m.ReadPBSkip(tag)
            }
        }
    }
    if err == io.EOF {
        return nil
    }
    return err
}
{{ end }}
{{ end }}
