{{ $typeName := required .TypeName }}
{{- if eq (len .Fields) 0 -}}
type {{ $typeName }} struct {}

func (s *{{ required .TypeName }}) RPCEncode(m *message) error { return nil }
func (s *{{ required .TypeName }}) RPCDecode(m *message) error { return nil }
{{- else -}}
type {{ required .TypeName }} struct {
{{- range required .Fields }}
    {{ required .Name | capitalize }} {{ .T.GoType }}
{{- end }}
}

func (s *{{ required .TypeName }}) RPCEncode(m *message) error {
    {{- range required .Fields }}
    {{- $accessor := format "s.%s" (required .Name | capitalize) -}}
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T "Accessor" $accessor "ID" .ID "ProtoName" $.ProtoName }}
    {{- end -}}
    return nil
}

func (s *{{ required .TypeName }}) RPCDecode(m *message) error {
    var (
        err error
        tag uint64
    )
    for err == nil {
        tag, err = m.ReadVarint()
        switch tag {
        {{- range .Fields }}
        case uint64({{ required .ID }} << 3) | uint64({{ if .T.IsArray }}{{ template "go-pb/property_to_wiretype.go.tmpl" .T.InnerValue.String}}{{ else }}{{ template "go-pb/property_to_wiretype.go.tmpl" .T.String}}{{ end }}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T "Accessor" (format "s.%s" (required .Name | capitalize)) "ProtoName" $.ProtoName -}}
        {{- end }}
        default:
            if err != io.EOF {
                err = m.ReadPBSkip(tag)
            }
        }
    }
    if err == io.EOF {
        return nil
    }
    return err
}
{{ end }}
{{ if .TypeID -}}
func (s *{{ required .TypeName }}) RPCID() uint64 {
    return uint64({{ required .TypeID }})
}
{{- end }}
