{{ $typeName := .TypeName }}
{{- if eq (len .Fields) 0 -}}
type {{ $typeName }} struct {}

func (s *{{ .TypeName }}) RPCEncode(m *message) error { return nil }
func (s *{{ .TypeName }}) RPCDecode(m *message) error { return nil }
{{- else -}}
type {{ .TypeName }} struct {
{{- range .Fields }}
    {{ capitalize .Name }} {{ .T.GoType }}
{{- end }}
}

func (s *{{ .TypeName }}) RPCEncode(m *message) error {
    {{- range .Fields }}
    {{- $accessor := format "s.%s" (capitalize .Name) -}}
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T "Accessor" $accessor "ID" .ID "Message" "m" }}
    {{- end -}}
    return nil
}

func (s *{{ .TypeName }}) RPCDecode(m *message) error {
    var (
        err error
        tag uint64
    )
    for err == nil {
        tag, err = m.ReadVarint()
        switch tag {
        {{- range .Fields }}
        case uint64({{ .ID }} << 3) | uint64({{ template "go-pb/property_to_wiretype.go.tmpl" .T.String}}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T "Accessor" (format "s.%s" (capitalize .Name)) "Message" "m" -}}
        {{- end }}
        default:
            if err != io.EOF {
                err = m.ReadPBSkip(tag)
            }
        }
    }
    if err == io.EOF {
        return nil
    }
    return err
}
{{ end }}
{{ if .TypeID -}}
func (s *{{ .TypeName }}) RPCID() uint64 {
    return uint64({{ .TypeID }})
}
{{- end }}
