type {{ required .TypeName }} struct {
    v {{ required .Name | capitalize }}
}

func (s *{{ required .TypeName }}) RPCEncode(m *message) error {
    {{- range required .Fields }}
    {{- $accessor := format "s.v.%s" (capitalize .Name) -}}
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T "Accessor" $accessor "ID" .ID "Message" "m" "ProtoName" $.ProtoName }}
    {{- end -}}
    return nil
}

func (s *{{ required .TypeName }}) RPCDecode(m *message) error {
    var (
        err error
        tag uint64
    )
    for err == nil {
        tag, err = m.ReadVarint()
        switch tag {
        {{- range required .Fields }}
        case uint64({{ .ID }} << 3) | uint64({{ if .T.IsArray }}{{ template "go-pb/property_to_wiretype.go.tmpl" .T.InnerValue.String}}{{ else if .T.IsMarshalled}}{{ template "go-pb/property_to_wiretype.go.tmpl" "String"}}{{ else }}{{ template "go-pb/property_to_wiretype.go.tmpl" .T.String}}{{ end }}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T "Accessor" (format "s.v.%s" (required .Name | capitalize)) "Message" "m" "ProtoName" $.ProtoName -}}
        {{- end }}
        default:
            if err != io.EOF {
                err = m.ReadPBSkip(tag)
            }
        }
    }
    if err == io.EOF {
        return nil
    }
    return err
}
