type {{ .TypeName }} struct {
    Key {{ .T.InnerKey.GoType}}
    Value {{ .T.InnerValue.GoType }}
}

func (s *{{ .TypeName }}) RPCEncode(m *message) error {
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T.InnerKey "Accessor" "s.Key" "ID" 1 "Message" "m" }}
    {{ template "go-pb/marshal.go.tmpl" dict "Field" .T.InnerKey "Accessor" "s.Value" "ID" 2 "Message" "m" }}
}

func (s *{{ .TypeName }}) RPCDecode(m *message) error {
    var (
        err error
        tag uint64
    )
    for err == nil {
        tag, err = m.ReadVarint()
        switch tag {
        case uint64(1 << 3) | uint64({{ template "go-pb/property_to_wiretype.go.tmpl" .T.InnerKey.String}}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T "Accessor" "s.Key" "Message" "m" -}}
        case uint64(2 << 3) | uint64({{ template "go-pb/property_to_wiretype.go.tmpl" .T.InnerValue.String}}):
            {{- template "go-pb/unmarshal.go.tmpl" dict "Field" .T "Accessor" "s.Value" "Message" "m" -}}
        default:
            if err != io.EOF {
                err = m.ReadPBSkip(tag)
            }
        }
    }
    if err == io.EOF {
        return nil
    }
    return err
}
