{{ range required .Protocols }}
type rpcCallServerFor{{ required .Name | capitalize }} struct {
    methods {{ required .Name | capitalize }}Protocol
}
{{ end }}
{{ range required .Protocols }}
// RPC{{ required .Name | capitalize }}Server creates a new RPCServer for the {{ required .Name }} protocol.
func RPC{{ required .Name | capitalize }}Server(methods {{ required .Name | capitalize }}Protocol) RPCServer {
    return &rpcServer{
        ProtocolID: {{ required .ID }},
        Server: &rpcCallServerFor{{ required .Name | capitalize }}{methods: methods},
    }
}
{{ end }}