type {{ capitalize .ProtoName }}Methods interface {
    {{- range .Methods }}
    {{ capitalize .Name }}(
    ctx context.Context,
    {{- range .Input }}
        _{{ .Name }} {{ .T.GoType }},
    {{- end }}
    ) (
    {{- range .Output }}
        _{{ .Name }} {{ .T.GoType }},
    {{- end }}
        err error,
    )
    {{- end }}
}

func {{ capitalize .ProtoName }}Handler(methods {{ capitalize .ProtoName }}Methods) *rpcServer {
    return &rpcServer{
        ProtocolID: {{ .ProtoID }},
        Handler: &callHandlerFor{{ capitalize .ProtoName }}{methods: methods},
    }
}

type callHandlerFor{{ capitalize .ProtoName }} struct {
    methods {{ capitalize .ProtoName }}Methods
}

func (s *callHandlerFor{{ capitalize .ProtoName }}) RPCCall(ctx context.Context, methodID uint64, m *message) (resp rpcMessage) {
    defer func() {
        if r := recover(); r != nil {
            resp = &rpcError{id: ApplicationError, error: "unknown error occurred"}
        }
    }()

    {{ $protoName := .ProtoName -}}
    switch methodID {
    {{- range .Methods }}
    case uint64(_{{ capitalize $protoName }}Method_{{ capitalize .Name }}):
        args := rpcrequest_{{ capitalize $protoName }}_{{ capitalize .Name }}{}
        if err := args.RPCDecode(m); err != nil {
            return &rpcError{id: ProtocolError, error: fmt.Sprintf("unable to decode method call: %v", err)}
        }
        {{ range .Output }}{{ .Name }}, {{ end }}err := s.methods.{{ capitalize .Name }}(
            ctx,
            {{- range .Input }}
            args._{{ .Name }},
            {{- end }}
        )
        if err != nil {
            if rpcMsg, ok := err.(rpcMessage); ok {
                return rpcMsg
            }
            return &rpcError{id: ApplicationError, error: err.Error()}
        }
        return &rpcresponse_{{ capitalize $protoName }}_{{ capitalize .Name }}{
            {{- range .Output }}
            _{{ .Name }}: {{ .Name }},
            {{- end }}
        }
    {{- end }}
    default:
        return &rpcError{id: GenericError, error: fmt.Sprintf("unknown method ID: %d", methodID)}
    }
}
