var em *message

em, err = m.ReadEmbeddedMessageNoCopy()
if err != nil {
    break
}

var vs rpcGlobalStruct{{ required .Field.GoType }}
if err = vs.RPCDecode(em); err == io.EOF {
    err = nil
} else if err != nil {
    break
}

{{ required .Accessor }} = vs.v
