var em *message
if {{ .Accessor }} == nil {
    {{ .Accessor }} = make({{ .Field.GoType}})
}

outer := {{ .Accessor }}
{{ $vname := retrieve (format "rpcMap-%s" .Field.GoType) }}
var v {{ $vname }}

if em, err = m.ReadEmbeddedMessageNoCopy(); err != nil {
    break
}

if err = v.RPCDecode(em); err == io.EOF {
    err = nil
} else if err != nil {
    break
}

outer[v.Key] = v.Value
