var em *message

em, err = m.ReadEmbeddedMessage()
if err != nil {
    break
}

var v rpcProto{{ capitalize .ProtoName }}Struct{{ .Field.GoType }}
if err = v.RPCDecode(em); err == io.EOF {
    err = nil
} else if err != nil {
    break
}

{{ .Accessor }} = v.v
