var em *message

em, err = m.ReadEmbeddedMessageNoCopy()
if err != nil {
    break
}

var vs rpcProto{{ capitalize .ProtoName }}Struct{{ .Field.GoType }}
if err = vs.RPCDecode(em); err == io.EOF {
    err = nil
} else if err != nil {
    break
}

{{ .Accessor }} = vs.v
