var em *message
if {{ required .Accessor }} == nil {
    {{ required .Accessor }} = make({{ required .Field.GoType}})
}

outer := {{ required .Accessor }}
{{ $vname := retrieve (format "rpcMap-%s" .Field.GoType) }}
var v {{ required $vname }}

if em, err = m.ReadEmbeddedMessageNoCopy(); err != nil {
    break
}

if err = v.RPCDecode(em); err == io.EOF {
    err = nil
} else if err != nil {
    break
}

outer[v.Key] = v.Value
