// The HTTP{{ required .ProtoName | capitalize }}Client type is a HTTP client for the {{ required .ProtoName }} protocol.
type HTTP{{ required .ProtoName | capitalize }}Client struct {
    client *HTTPClient
    baseURL string
}

// NewHTTP{{ required .ProtoName | capitalize }}Client(c *HTTPClient) creates a new HTTP client for the {{ required .ProtoName }} protocol.
func NewHTTP{{ required .ProtoName | capitalize }}Client(c *HTTPClient) *HTTP{{ required .ProtoName | capitalize }}Client {
    return &HTTP{{- required .ProtoName | capitalize }}Client{
        client: c,
        baseURL: {{ required .ProtoName | doublequote }},
    }
}

func (c *HTTP{{ required .ProtoName | capitalize }}Client) newRequest(method, url string, body io.Reader) (*http.Request, error) {
    return c.client.newRequest(method, c.baseURL + "/" + url, body)
}
