type HTTP{{ capitalize .ProtoName }}Client struct {
    client *HTTPClient
    baseURL string
}

func NewHTTP{{ capitalize .ProtoName }}Client(c *HTTPClient) *HTTP{{ capitalize .ProtoName }}Client {
    return &HTTP{{- capitalize .ProtoName }}Client{
        client: c,
        baseURL: {{ doublequote .ProtoName }},
    }
}

func (c *HTTP{{ capitalize .ProtoName }}Client) NewRequest(method, url string, body io.Reader) (*http.Request, error) {
    return c.client.NewRequest(method, c.baseURL + "/" + url, body)
}
