{{- if ne (len .Fields) 0 -}}
type {{ .Prefix }}Proto{{ capitalize .ProtoName }}Method{{ capitalize .Name }} struct {
{{- range .Fields }}
    {{ capitalize .Name }} {{ .T.GoType }} `json:{{ camelize .Name | doublequote }}`
{{- end }}
}
{{- end }}
