type {{ capitalize .ProtoName }}Methods interface {
    {{- range .Methods }}
    {{ .Name }}(
    ctx context.Context,
    {{- range .Input }}
        {{ .Name }} {{ .T.GoType }},
    {{- end }}
    ) (
    {{- range .Output }}
        {{ .Name }} {{ .T.GoType }},
    {{- end }}
        err error,
    )
    {{- end }}
}

func Register{{ capitalize .ProtoName }}Handler(c *RPCConnection, s {{ capitalize .ProtoName }}Methods) {
    c.setHandler({{ .ProtoID }}, &callHandlerFor{{ capitalize .ProtoName }}{methods: s})
}

type callHandlerFor{{ capitalize .ProtoName}} struct {
    methods {{ capitalize .ProtoName }}Methods
}
