package {{ .PackageName }}

import "context"

{{ range .Protocols }}
{{ range .Structs }}
{{ template "go/types.go.tmpl" . }}
{{ end }}
{{ end }}

{{ range .Protocols }}
{{ template "go/server_method.go.tmpl" dict "ProtoName" .Name "ProtoID" .ID "Methods" .Methods }}
{{ end }}
