package {{ required .PackageName }}

import (
	"context"
	{{ range $key, $val := .Imports }}
	"{{$key}}"
	{{- end }}
)

{{ range required .Protocols }}
{{ range required .Structs }}
{{ template "go/types.go.tmpl" . }}
{{ end }}
{{ end }}

{{ range required .Protocols }}
{{ template "go/server_method.go.tmpl" dict "ProtoName" .Name "ProtoID" .ID "Methods" .Methods }}
{{ end }}
