// The {{ capitalize .ProtoName }}Protocol interface defines the {{ .ProtoName }} protocol.
type {{ capitalize .ProtoName }}Protocol interface {
    {{- range .Methods }}
    // {{ capitalize .Description }}
    {{ capitalize .Name }}(ctx context.Context,
    {{- $input := .Input }}
    {{- range $idx, $v := .Input }} req{{ capitalize $v.Name }} {{ $v.T.GoType }}{{- if ne (len $input) $idx }},{{ end }}{{ end }}) (
    {{- range .Output }}resp{{ capitalize .Name }} {{ .T.GoType }}, {{ end }}err error)
    {{- end }}
}
