// The {{ required .ProtoName | capitalize }}Protocol interface defines the {{ required .ProtoName }} protocol.
type {{ required .ProtoName | capitalize }}Protocol interface {
    {{- range required .Methods }}
    // {{ required .Description | capitalize }}
    {{ required .Name | capitalize }}(ctx context.Context,
    {{- $input := required .Input }}
    {{- range $idx, $v := required .Input }} req{{ required $v.Name | capitalize }} {{ required $v.T.GoType }}{{- if ne (len $input) $idx }},{{ end }}{{ end }}) (
    {{- range required .Output }}resp{{ required .Name | capitalize }} {{ required .T.GoType }}, {{ end }}err error)
    {{ end }}
}
