// {{ capitalize .Description }}
type {{ capitalize .Name }} struct {
{{- range .Fields }}
    {{ if .Description }}// {{ capitalize .Description }}{{ end }}
    {{ capitalize .Name }} {{ .T.GoType }} `json:{{ camelize .Name | doublequote }}`
{{- end }}
}
