// {{ required .Description | capitalize }}
type {{ required .Name | capitalize }} struct {
{{ range required .Fields -}}
    {{ if .Description }}
    // {{ required .Description | capitalize }}
    {{ end -}}
    {{ required .Name | capitalize }} {{ .T.GoType }} `json:{{ required .Name | camelize | doublequote }}`
{{ end }}
}
{{- range required .Fields }}{{- if .Options }}{{ if .Options.Getter }}
func (s *{{ required $.Name | capitalize }}) Get{{ required .Name | capitalize }}() {{ required .T.GoType }} { return s.{{ required .Name | capitalize }} }
{{- end }}{{- end }}{{- end }}

{{- range required .Fields }}{{- if .Options }}{{ if .Options.Setter }}
func (s *{{ required $.Name | capitalize }}) Set{{ required .Name | capitalize }}(v {{ required .T.GoType }}) {
	s.{{ required .Name | capitalize }} = v
}
{{- end }}{{- end }}{{- end }}