// {{ capitalize .Description }}
type {{ capitalize .Name }} struct {
{{- range .Fields }}
    {{ if .Description }}// {{ capitalize .Description }}{{ end }}
    {{ capitalize .Name }} {{ .T.GoType }} `json:{{ camelize .Name | doublequote }}`
{{- end }}
}
{{- range .Fields }}{{- if .Options }}{{ if .Options.Getter }}
func (s *{{ capitalize $.Name }}) Get{{ capitalize .Name }}() {{ .T.GoType }} { return s.{{ capitalize .Name }} }
{{- end }}{{- end }}{{- end }}

{{- range .Fields }}{{- if .Options }}{{ if .Options.Setter }}
func (s *{{ capitalize $.Name }}) Set{{ capitalize .Name }}(v {{ .T.GoType }}) {
	s.{{ capitalize .Name }} = v
}
{{- end }}{{- end }}{{- end }}